{% extends 'base.html.twig' %}

{% block body %}
    <nav class="nav">
      <div class="nav--container">
        <ul class="nav--left">
        </ul>
        <div class="nav--logo">
          <h1>Gatheway</h1>
        </div>
        <ul class="nav--right">
          <li><ion-icon name="search-outline"></ion-icon></li>
          <li><ion-icon name="person-outline"></ion-icon></li>
          <li><ion-icon name="pricetags-outline"></ion-icon></li>
        </ul>
      </div>
      <div class="nav--links">
        <li><span>Home</span></li>
        <li><span>Wardrobe</span></li>
        <li><span>News</span></li>
        <li><span>Team</span></li>
        <li><span>Contact</span></li>
      </div>
    </nav>
    <div class="l-viewport">
    </div>
{% endblock %}
