{% extends 'base.html.twig' %}

{% block body %}
<div class="l-viewport">
    <div class="l-section" style="background-image:url('{{asset('build/assets/images/section1.jpg')}}');">
      <div class="l-content">
      </div>
    </div>
</div>
{% endblock %}
