.l-viewport
  width: 100vw
  height: 200vh

.overlay
  position: absolute
  background-color: rgba(0, 0, 0,0.5 )
  z-index: 0
  width: 100vw
  height: 60vh

.parallax
  z-index: -2
  background-size: cover
  background-position: 40% 0%
  background-repeat: no-repeat
  width: 100%
  box-shadow: 0 4px 60px 1px $muted-gray

.container
