
.form
    position: relative
    display: block
    height: 100%

    &--group
        position: relative
        display: flex
        flex-direction: column
        margin: auto
        flex-wrap: wrap
        padding: 8px 0
        width: 400px

        @media ( max-width: 640px )
            width: 80vw

    input
        position: relative
        border: 1px $black solid
        box-shadow: 2px 2px 2px $black
        border-radius: 0
        outline: none
        height: 20px
        padding: 10px

    p
        cursor: pointer
        margin: auto
        padding-top: 6px
        text-decoration: underline

.oneview
    top: 10vh
    position: absolute
    width: 100vw
    height: 90vh
    overflow: hidden

    .motif
        background-image: url("../../images/motif.png")
        background-size: 1000px
        height: 100%
        opacity: 0.5
        box-shadow: inset 0 50px 100px $black

        @media ( max-width: 640px )
            background-size: 700px
